<main>
  {{#if searchResults}}
  <h2>Search Results</h2>
  {{#each searchResults}}
  <div class="video-card">
    <a href="/viewpost/{{this.id}}">
      <img src="{{this.thumbnail}}" alt="Video Thumbnail" controls>
    </a>
  </div>
  {{/each}}

  {{else}}
  <h2>Home</h2>
  {{#each videos}}
  <div class="video-card">
    <a href="/viewpost/{{this.id}}">
      <img src="{{this.thumbnail}}" alt="Video Thumbnail" controls>
      <div class="thumbnail-overlay">
        <a href="/viewpost/{{this.id}}" class="overlay-button view-button">View</a>
      </div>
    </a>
  </div>
  {{/each}}
  {{/if}}
</main>